kokoro>=0.9.4
soundfile
numpy
requests
Pillow
huggingface_hub>=0.30
beautifulsoup4
opencv-python-headless
transformers
gradio_client
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
